---
- name: Update Alpine package index
  ansible.builtin.apk:
    update_cache: true

- name: Install k3s dependencies
  ansible.builtin.apk:
    name:
      - wireguard-tools
      - net-tools
      - curl
      - wget
      - bash
      - openssh
      - sudo
    state: present

- name: Ensure cgroups are properly configured
  ansible.builtin.lineinfile:
    path: /etc/rc.conf
    regexp: '^rc_cgroup_mode='
    line: 'rc_cgroup_mode="unified"'
    create: true
  notify: Reboot node

- name: Enable cgroups service
  ansible.builtin.service:
    name: cgroups
    enabled: true
