# {{ ansible_managed }}
# Docker LXC Container Additional Configuration (VMID: 201)
# LXC-specific parameters that cannot be set via Proxmox API

# Mounting the models directory from the host to the container
mp0: /lun0/models,mp=/lun0/models

# Allowing Docker to access the Intel GPU devices
lxc.cgroup2.devices.allow: c 226:0 rwm
lxc.cgroup2.devices.allow: c 226:128 rwm

# Mounting the Intel GPU devices from the host to the container
lxc.mount.entry: /dev/dri/card0 dev/dri/card0 none bind,optional,create=file
lxc.mount.entry: /dev/dri/renderD128 dev/dri/renderD128 none bind,optional,create=file

# Enable nesting for Docker
lxc.apparmor.profile: unconfined
lxc.cgroup2.devices.allow: a
lxc.cap.drop: 
