---
- name: Configure k3s base on all nodes
  hosts: k3s_nodes_dynamic
  become: true
  become_method: doas
  gather_facts: true
  tags:
    - k3s_software
    - k3s_base

  roles:
    - role: ../roles/k3s_node

- name: Configure k3s server (control plane)
  hosts: k3s_servers
  become: true
  become_method: doas
  gather_facts: false
  tags:
    - k3s_software
    - k3s_server

  roles:
    - role: ../roles/k3s_server

- name: Configure k3s agents (worker nodes)
  hosts: k3s_agents
  become: true
  become_method: doas
  gather_facts: false
  tags:
    - k3s_software
    - k3s_agent

  roles:
    - role: ../roles/k3s_agent

- name: Display cluster status
  hosts: k3s_servers[0]
  become: true
  become_method: doas
  gather_facts: false
  tags:
    - k3s_software

  tasks:
    - name: Display cluster information
      ansible.builtin.debug:
        msg: "K3s cluster deployed successfully. Access kubeconfig at /etc/rancher/k3s/k3s.yaml on {{ inventory_hostname }}"
