---
- name: Configure k3s base on all nodes
  hosts: k3s_nodes_dynamic
  become: true
  become_method: doas
  gather_facts: true
  tags:
    - k3s_software
    - k3s_base

  vars_files:
    - vars/k3s_vars.yml

  roles:
    - role: ../roles/k3s_node

- name: Configure k3s servers (HA control plane)
  hosts: k3s_servers
  become: true
  become_method: doas
  gather_facts: false
  serial: 1  # Install servers one at a time for HA stability
  tags:
    - k3s_software
    - k3s_server

  roles:
    - role: ../roles/k3s_server

- name: Display HA cluster status
  hosts: k3s_servers[0]
  become: true
  become_method: doas
  gather_facts: false
  tags:
    - k3s_software

  tasks:
    - name: Display HA cluster information
      ansible.builtin.debug:
        msg: "K3s HA cluster deployed successfully with {{ groups['k3s_servers'] | length }} control plane nodes. Access kubeconfig at /etc/rancher/k3s/k3s.yaml on any server node"
